@using EventTicket.App_Code;
@using System.Data;
@{
    ViewBag.Title = "DM Group - Onine Home Jobs Program";
    Layout = "~/Views/Shared/Account.cshtml";
    Base b = new Base();
    DataTable township = b.getAllByQuery("select * From Township order by Name asc");
    DataTable Job = b.getAllByQuery("select * From Job");
}
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
              $(document).ready(function () {
                  var passedError = document.getElementById("serverMessage").textContent;
                 

                  if (passedError == "duplicateUsername") {
                      document.getElementById("Message").innerHTML = "<font color='red' class='zg'>Username can't duplicate</font>";
                  }
                  else if (passedError == "duplicatePhone") {
                      document.getElementById("Message").innerHTML = "<font color='red' class='zg'>Phone Number can't duplicate</font>";
                  }
                  else if (passedError == "duplicateEmail") {
                      document.getElementById("Message").innerHTML = "<font color='red' class='zg'>Email can't duplicate</font>";
                  }
                  else {
                      document.getElementById("Message").innerHTML = "";
                  }   
              });
</script>

    @using (Html.BeginForm("RegisterCodeForm", "Account"))
    {
        <p id="serverMessage" hidden>@Session["RegisterSession"]</p>
        <div class="limiter">
            <div class="container-login100" style="background-image: url('../Image/bg1.jpg');background-attachment:fixed">
                <div class="wrap-login100 p-t-190 p-b-30">
                    <center><img src="~/Image/Logo/nainglogo.png"/></center>
                    <form class="login100-form validate-form">
                        <div class="wrap-input100 validate-input m-b-10" data-validate="">
                            <p id="Message" style="background-color:lightgray;text-align:center;"></p>
                        </div><br />
                        <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
                            <input class="input100" type="text" name="Name" placeholder="Full Real Name" maxlength="50" required>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user-o"></i>
                            </span>
                        </div><br>
                        <div class="wrap-input100 validate-input m-b-10" data-validate="Phone is required">
                            <input class="input100" type="text" name="Phone" placeholder="Phone" maxlength="15" required>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-phone"></i>
                            </span>
                        </div><br>
                        <div class="wrap-input100 validate-input m-b-10" data-validate="Address is required">
                            <input class="input100" type="text" name="Address" placeholder="Address"maxlength="500" required>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-address-book"></i>
                            </span>
                        </div><br>
                        <div class="wrap-input100 validate-input m-b-10" data-validate="Address is required">
                            <select class="input100" name="TownshipID">
                                <option value="">Please Select Township</option>
                                @{ 
                                    foreach(DataRow row in township.Rows)
                                    {
                                        <option value="@row["ID"]">@row["Name"]</option>
                                    }
                                }
                            </select>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-home"></i>
                            </span>
                        </div><br>
                        <div class="wrap-input100 validate-input m-b-10" data-validate="Job Title is required">
                            <select class="input100" name="JobID">
                                <option value="">Please Select Job Title</option>
                                @{
                                    foreach (DataRow row in Job.Rows)
                                    {
                                        <option value="@row["ID"]">@row["Name"]</option>
                                    }
                                }
                            </select>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-home"></i>
                            </span>
                        </div><br>
                        <div class="wrap-input100 validate-input m-b-10" data-validate="Email is required">
                            <input class="input100" type="email" name="Email" placeholder="Email"maxlength="50" required>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-paper-plane"></i>
                            </span>
                        </div><br>
                        <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                            <input class="input100" type="password" id="password" name="Password"maxlength="50" onkeyup="CheckPassword()" placeholder="Password" required>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-key"></i>
                            </span>
                        </div><br>
                        <div class="wrap-input100 validate-input m-b-10" data-validate="">
                            <p id="password-message" style="background-color:lightblue;text-align:center;"></p>
                        </div><br />
                        <div class="wrap-input100 validate-input m-b-10" data-validate="Confirm is required">
                            <input class="input100" type="password" id="confirmPassword" onkeyup="CheckConfirmPassword()" placeholder="Confirm Password" required>
                            <input type="hidden" name="ReferredCode" value="@ViewBag.ReferredCode" />    
                        <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-key"></i>
                            </span>
                        </div><br>
                        <div class="wrap-input100 validate-input m-b-10" data-validate="">
                            <p id="confirmPassword-message" style="background-color:lightblue;text-align:center"></p>
                        </div><br />
                        <div class="wrap-input100 validate-input m-b-10" data-validate="Facebook Link is required">
                            <input class="input100" type="text" name="FBLink" id="fblink" placeholder="Facebook Link"maxlength="500" required>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-facebook"></i>
                            </span>
                        </div><br>
                        <div class="container-login100-form-btn p-t-10">
                            <button class="login100-form-btn">
                                REGISTER
                            </button>
                        </div><br>
                        <div class="text-center w-full p-t-25 p-b-230">
                            <a href="~/Account/LoginForm" class="txt1">
                                Login into Webiste
                            </a>
                        </div><br>
                        @*<div class="text-center w-full">
                                <a class="txt1" href="#">
                                    Create new account
                                    <i class="fa fa-long-arrow-right"></i>
                                </a>
                            </div>*@
                    </form>
                </div>
            </div>
        </div>
    }

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script>
function CheckPassword(){
     var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!#\$%\^&\*])(?=.{8,})");
     var mediumRegex = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");
	var value = document.getElementById("password").value;
	if(strongRegex.test(value)) {
						document.getElementById("password-message").innerHTML = "<font color='green'>password is strong</font>";
                    } else if(mediumRegex.test(value)) {
						document.getElementById("password-message").innerHTML = "<font color='orange'>password is medium</font>";
                    } else {
						document.getElementById("password-message").innerHTML = "<font color='red'>password is weak</font>";
                    }
}
function CheckConfirmPassword(){
var password = document.getElementById("password").value;
var confirmPassword = document.getElementById("confirmPassword").value;
if(password == confirmPassword){
document.getElementById("confirmPassword-message").innerHTML = "<font color='green'>password is matched</font>";
}
else{
document.getElementById("confirmPassword-message").innerHTML = "<font color='red'>password isn't matched</font>";
}
}
function load() {

}
</script>

