@using EventTicket.App_Code;
@using System.Data;
@{
    int i = 1;
    Base b = new Base();
    Node n = new Node();
    DataTable Member = b.getAllByQuery("select * from Member where ID>7");
    ViewBag.Title = "DM Group - Onine Home Jobs Program";
    Layout = "~/Views/Shared/MyanmarITStar.cshtml";
}
<div class="contentBodyBox">
    @*<font color="#8B7D6B" class="zg">The following are all registered members.</font><br /><br />*@
    <table id="displayTable" class="table table-bordered">
        <thead><tr><th><span class="zg">No</span></th><th><span class="zg">Name</span>​</th><th><span class="zg">Phone</span></th><th><span class="zg">Address</span></th><th><span class="zg">Email</span></th><th>Level 1,2,3</th><th>FB</th></tr></thead>
        <tbody>
            @{
                foreach (DataRow rows in Member.Rows)
                {
                    int MemberID = Convert.ToInt32(rows["ID"]);
                    <tr><td><span class="zg">@i</span></td><td><font class="normalText"><span class="zg">@rows["Name"]</span></font></td><td><font class="normalText"><span class="zg">@rows["Phone"]</span></font></td><td><span class="zg">@rows["Address"]</span></td><td><span class="zg">@rows["Email"]</span></td><td>@n.GetTotalNode(MemberID,123) | @n.GetTotalNode(MemberID, 1) , @n.GetTotalNode(MemberID, 2) , @n.GetTotalNode(MemberID, 3)</td><td><a href="@rows["FBLink"]">Click</a></td></tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>


