
@using EventTicket.App_Code;
@using System.Data;
@{
    ViewBag.Title = "NewProductPackingForm";
    Layout = "~/Views/Shared/StockShop.cshtml";
    DataTable todayStock = new DataTable();
    DataTable product = new DataTable();
    StockBase db = new StockBase();
    int ShopID = Convert.ToInt32(Session["CurrentUserID"]);
    product = db.getAllByQuery("select * from Product where ShopID=" + ShopID + " and Packing='False' order by Name asc");
}

@using (Html.BeginForm("ProcessReProductUnitForm", "StockShop"))
{
    <p class="zg">
        <div class="contentHeadBox">
            <font color="#8B7D6B" class="zg"><b>တစ္​ခုျခင္​း​</b>ထပ္​ျဖည္​့ရန္​​​ ​ေအာက္​ပါတို႔ကို ျဖည္​့ပါ</font><br /><br />
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="zg">
                                <select name="ID" class="form-control select2" style="width: 100%;" required>
                                    <option value=""></option>
                                    @{
                                        foreach (DataRow rows in product.Rows)
                                        {
                                            <option value="@rows["ID"]">@rows["Name"]</option>
                                        }
                                    }
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <span class="zg"><input type="number" name="Quantity" placeholder="ထပ္​ျဖည္​့မည္​့ အ​ေရအတြက္​​" min="1" class="form-control" required /></span>
                    </div>
                    <div class="col-md-4">
                        <span class="zg"><input type="datetime" name="ExpiryDate" placeholder="သက္​တမ္​း ကုန္​ဆံုးရက္​ (မထည္​့လည္​းရ)" class="form-control" id="datepicker" /></span>
                    </div>
                </div>
                <br />
                <center> <span class="zg"><input type="submit" class="btn btn-primary" value="ထပ္​ျဖည္​့မည္​" /></span></center>
            </div>

            <div class="box-body">
                <font color="#8B7D6B" class="zg">ယ​ေန႔ <b>ထပ္</b>ျဖည္​့ထား​ေသာ ပစၥည္​း မ်ား ျဖစ္​သည္​​</font><br /><br />
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px" class="hidecell">No</th>
                            <th> <span class="zg">အမည္​</span></th>
                            <th><span class="zg">လက္​က်န္</span></th>
                            <th class="hidecell"><span class="zg">အနည္​းဆံုး</span></th>
                            <th><span class="zg">ပံုစံ</span></th>

                        </tr>
                        @{
                            int i = 1; string packing = "";
                            todayStock = db.getAllByQuery("select * from Product where ShopID=" + ShopID + " and Date='" + DateTime.Now.ToString("MM.dd.yyyy") + "'  and Packing='False'");
                            foreach (DataRow rows in todayStock.Rows)
                            {
                                if (Convert.ToBoolean(rows["Packing"]) == true)
                                {
                                    packing = "ပါကင္";
                                }
                                else
                                {
                                    packing = "တစ္​ခုျခင္​း";
                                }

                                <tr>
                                    <td class="hidecell">@i</td>
                                    <td>
                                        <span class="zg"> @rows["Name"] </span>
                                    </td>
                                    <td><span class="zg"> @rows["Quantity"] </span></td>
                                    <td class="hidecell"><span class="zg"> @rows["Minimum"] </span></td>
                                    <td><span class="zg"> @packing </span></td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
                <br /><br />
                <font color="#8B7D6B" class="zg"><font color="red">*</font><b>အနည္​းဆံုး</b>အ​ေရအတြက္​​ေရာက္​လ်ွင္​ ပစၥည္​းျပတ္​လတ္​​ေၾကာင္​း ​ေဖာ္​ျပမည္​</font>
            </div>

        </div>
    </p>
                            }
