@using System.Data;
@using EventTicket.App_Code;
@{
    ViewBag.Title = "SetSeatStatus";
    Layout = "~/Views/Shared/PublicUser.cshtml";
    string path_and_query = HttpContext.Current.Request.Url.PathAndQuery;
    Session["userurl"] = path_and_query;
    int EID = ViewBag.EID;
    Base b = new Base();
    int Row = b.getIntByQuery("select top 1 * From Seat where EID=" + EID + " order by Row desc", "Row");
    DataTable dt = b.getAllByQuery("select * from Seat where EID=" + EID + " and Status <> 'Sold' and Status <> 'Free'");
    DataTable dtSold = b.getAllByQuery("select * from Seat where EID=" + EID + " and Status <> 'Sold' and Status <> 'Book'");
    DataTable dtSeatOfFree = b.getAllByQuery("select * from Seat where Status='Free' order by ID desc");
    //Get data table of SeatID of Book,Sold
    //Get data table of Name and Phone of particular SeatID
}
<p id="serverInfo" hidden>@Session["passedInfo"]</p>

    <div class="contentHeadBox">
        <div class="row">
            <div class="col-md-4">
                <span class="free">&nbsp;&nbsp;</span>&nbsp;Free&nbsp;-&nbsp;@b.getCountByQuery("select * from Seat where EID=" + EID + " and Status='Free'") Seats
                <span class="book">&nbsp;&nbsp;</span>&nbsp;Book&nbsp;-&nbsp;@b.getCountByQuery("select * from Seat where EID=" + EID + " and Status='Book'") Seats
            </div>
            <div class="col-md-4">
                <span class="sold">&nbsp;&nbsp;</span>&nbsp;Sold&nbsp;-&nbsp;@b.getCountByQuery("select * from Seat where EID=" + EID + " and Status='Sold'") Seats
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total&nbsp;-&nbsp;@b.getCountByQuery("select * from Seat where EID=" + EID) Seats</span>
             </div>
            <div class="col-md-4">
                <a href="~/Image/Seat_Map/seat_map1.jpg" class="zg">Seat Map/ခုံအေနအထားၾကည့္မည္</a>
            </div>
        </div>
    </div>
     <br />                   

<div class="contentBodyBox">
    <div class="row">
        <div class="col-md-6" style="line-height:30px;" >
    @{
        for (int i = 1; i <= Row; i++)
        {
            //Get All Seat in the Row
            DataTable Seatdt = b.getAllByQuery("select * from Seat where EID=" + EID + " and Row=" + i);
            foreach (DataRow row in Seatdt.Rows)
            {
                string Name = row["Name"].ToString();
                string Status = row["Status"].ToString();

                <a href="#">
                    <span id="@Name" class="@Status" onclick="SelectDeselect('@Name')">@Name</span>
                </a>
            }
            <br /><br />
                    }
                    }
        </div>
        <div class="col-md-6" style="line-height:30px;">
            <center>
                <p id="SelectedSeat"></p>
                
            </center>
        </div>
    </div>

</div>

<br />
@using (Html.BeginForm("BookSeat", "PublicUser"))
{
    <div class="contentHeadBox">
        <div class="zg">
            <div class="row">
                <div class="col-md-4">
                    <input type="hidden" id="HSelectedSeat" name="SelectedSeat" />
                    <input type="hidden" name="EventID" value="@EID" />
                    <input type="text" name="Name" class="form-control" placeholder="နာမည္" required />
                    <input type="text" name="Phone" class="form-control" placeholder="ဖုန္း" required />
                </div>
                <div class="col-md-4">
                    <select class="form-control" name="Bank" required>
                        <option value="">Select Bank</option>
                        <option value="kbz">KBZ</option>
                        <option value="aya">AYA</option>
                        <option value="cb">CB</option>
                        <option value="yoma">YOMA</option>
                    </select>
                    <input type="text" minlength="16" maxlength="17" name="Account" class="form-control" placeholder="အေကာင့္နံပတ္" required />
                </div>
                <div class="col-md-4"><center><input type="submit" class="btn btn-primary" value="BOOK/မွာမည္" /></center></div>
            </div>
        </div>
    </div>
}


<style>
    .Free, .Book, .Sold {
        -webkit-border-radius: 4;
        -moz-border-radius: 4;
        border-radius: 4px;
        font-family: Georgia;
        color: #ffffff;
        font-size: 15px;
        padding: 5px 5px 5px 5px;
        text-decoration: none;
        min-width: 30px;
        max-width: 50px;
        text-align: center;
    }
        .free, .book, .sold {
        -webkit-border-radius: 4;
        -moz-border-radius: 4;
        font-family: Georgia;
        color: #ffffff;
        font-size: 10px;
        padding: 2px 2px 2px 2px;
        text-decoration: none;
        min-width: 20px;
        text-align: center;
    }

    .Free,.free {
        background: lightgreen;
    }

    .Book,.book {
        background: lightblue;
    }

    .Sold,.sold {
        background: #0c1b24;
    }
</style>
<p id="seat" style="opacity:0;">
    <!--Save (1) SeatID (2) Name, Phone Here-->
    @{
        foreach (DataRow row in dtSeatOfFree.Rows)
        {
            string Name = row["Name"].ToString();
            Name = Name + ",";
            @Name
        }
    }
</p>
<p id="price" style="opacity:0;">
    @{
        foreach (DataRow row in dtSeatOfFree.Rows)
        {
            string Price = row["Price"].ToString();
            Price = Price + ",";
            @Price
        }
    }
</p>
<script>
    var Seat= new Array();
    var Price = new Array();
    var SelectedSeat = new Array();
    $(document).ready(function () {
        var seat = document.getElementById("seat").innerText;
        Seat = seat.split(",");
        Seat.splice((Seat.length) - 1, 1);

        var price = document.getElementById("price").innerText;
        Price = price.split(",");
        Price.splice((Price.length) - 1, 1);

        var passedInfo = document.getElementById("serverInfo").textContent;
        if (passedInfo != null) {
            if (passedInfo == "success") {
                document.getElementById("SelectedSeat").innerHTML = "<font style='color:green;background-color:#F6F9ED;max-width:300px;padding:5px'>Successfully Book!🙂</font>";
            }
            else if (passedInfo == "justSold") {
                document.getElementById("SelectedSeat").innerHTML = "<font style='color:red;background-color:#F6F9ED;max-width:300px;padding:5px'>Sorry Just Sold Out!🙁</font>";
            }
            else if (passedInfo == "noSeat") {
                document.getElementById("SelectedSeat").innerHTML = "<font style='color:red;background-color:#F6F9ED;max-width:300px;padding:5px'>Please Select Seat!🙁</font>";
            }
        }
    })

    function SelectDeselect(Name) {
        var index = Seat.indexOf(Name);
        if (index > -1) {
            var innerIndex = SelectedSeat.indexOf(Name);
            if (innerIndex > -1) {
                SelectedSeat.splice(innerIndex, 1);
                document.getElementById(Name).style.backgroundColor = "lightgreen";
                ShowSelectedSeat();
                SetSeatToHidden();
            }
            else {
                SelectedSeat.push(Name);
                document.getElementById(Name).style.backgroundColor = "green";
                ShowSelectedSeat();
                SetSeatToHidden();
            }
        }
        return;
    }
    function GetPrice(Name){
        var index = Seat.indexOf(Name);
        if(index > -1){
            return Price[index];
        }
    }
    function ShowSelectedSeat() {
        var TotalPrice = 0;
    if (SelectedSeat.length > 0) {
        var table = "<table class='table table-bordered' style='background-color:#F6F9ED;max-width:300px;'><tr><th>Seat</th><th colspan='2'>Price</th></tr>";
        for (var i = 0 ; i < SelectedSeat.length ; i++) {
            table = table + "<tr><td>" + SelectedSeat[i] + "</td><td>" + GetPrice(SelectedSeat[i]) + "&nbsp;&nbsp;&nbsp; </td><td><a href='#'><span onclick=\"SelectDeselect(\'" + SelectedSeat[i] + "\')\">❎</span></a></td></tr>";
            TotalPrice = parseInt(TotalPrice) + parseInt(GetPrice(SelectedSeat[i]));
        }

        table = table + "<tr><td>Total</td><td colspan='2'>" + TotalPrice + "&nbsp;&nbsp;&nbsp;Kyats</td></tr></table>";

        document.getElementById("SelectedSeat").innerHTML = table;

    }
    else {
        document.getElementById("SelectedSeat").innerHTML = "";
    }
    }

    function SetSeatToHidden() {
        var Seat="";
        for (var i = 0 ; i < SelectedSeat.length ; i++) {
            Seat = Seat + "," + SelectedSeat[i];
        }
        document.getElementById("HSelectedSeat").value = Seat;
    }
</script>


