
@{
    ViewBag.Title = "ApplyEOrgAccount";
    Layout = "~/Views/Shared/PublicUser.cshtml";
    string path_and_query = HttpContext.Current.Request.Url.PathAndQuery;
    Session["appliedAccountUrl"] = path_and_query;
    Base b = new Base();
}
@using System.Data;
@using EventTicket.App_Code;
<!--
Name
Town
ECategory
Email
Phone
Account Type - 1,2,3

 Step (1) Check with phone number.If phone number is duplicated, return viewbag with already status. For Further, send with business email
 Step (2) Insert Data to Apply EOrg Account
-->
<script>
    $(document).ready(function () {
        var passedInfo = document.getElementById("serverInfo").textContent;
        if (passedInfo != null) {
            if (passedInfo == "success") {
                document.getElementById("info").innerHTML = "<font style='color:green;background-color:#F6F9ED;max-width:300px;padding:5px'>Successfully Apply!🙂</font>";
            }
            else if (passedInfo == "duplicatePhone") {
                document.getElementById("info").innerHTML = "<font style='color:red;background-color:#F6F9ED;max-width:300px;padding:5px'>You have already Applied!🙁</font>";
            }
        }
    })
</script>
<br />
<p id="serverInfo" hidden>@Session["Info"]</p>

@using (Html.BeginForm("ProcessApplyOrgAccount", "Owner"))
{
    <div class="contentHeadBox">
        <div class="row">
            <div class="col-md-3">
            <input type="text" name="Name" placeholder="Enter Name" class="form-control" required />
            </div>
            <div class="col-md-3">
                <select name="TownID" class="form-control" required>
                    <option value="">Town</option>
                    @{
                        DataTable dtTown = b.getAllByQuery("select * from Town");
                        foreach (DataRow rows in dtTown.Rows)
                        {
                            <option value="@rows["ID"]">@rows["Name"]</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-3">
                <select name="Category" class="form-control" required>
                    <option value="">Category (ကဏ္ဍ)</option>
                    @{
                        DataTable dtCategory = b.getAllByQuery("select * from ECategory");
                        foreach (DataRow rows in dtCategory.Rows)
                        {
                            <option value="@rows["ID"]">@rows["Name"]</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-3">
                <input type="email" name="Email" placeholder="Enter Email" class="form-control" required />
            </div>
            </div>
        <br />

        <div class="row">
            <div class="col-md-3">
                <input type="text" name="Phone" placeholder="Enter Phone" class="form-control" required />
            </div>
            <div class="col-md-3">
                <select name="Version" class="form-control" required>
                    <option value="">Choose Version</option>
                    <option value="Version 1.0">Version 1.0</option>
                </select>
            </div>
            <div class="col-md-3">
                <select name="AccountType" class="form-control" required>
                    <option value="">Choose Account Type</option>
                    <option value="1 year">1 year</option>
                    <option value="2 year">2 year</option>
                    <option value="3 year">3 year</option>
                </select>
            </div>
            <div class="col-md-3">
                <center>
                    <input type="submit" class="btn btn-primary" value="APPLY" />
                </center>
            </div>
            <div class="col-md-12">

                <br /><br />
               <center><span id="info"></span></center> 
            </div>
        </div>    
        </div>
                        }
<br />
<div class="emphasizedText">
    <h4>Are You Looking for a Software to manage your ticket?</h4>
    <ol>
        <li>If your are event organizer, access the website anywhere to manage the following event. In Events, <span class="normalText">Seminar, Conference, Recruitment, Networking Event, One Man Show, Model Show, Award, Competition, EDM, Education, Entertainment, Networking, Miss, and Mister Event</span> are included.
</li>
        <li>If your want to use in <span class="normalText">cinema and car terminal</span>, you can use it privately and publicly.</li>
        <li>Your Customer can book from the website. You can sell ticket online by enabling public mode.</li>
        <li>You can also use via your mobile. PC will be a better choice.</li>
        <li>See product Features <a href="~/PublicUser/Construction"><b>Here</b></a> and Versioning Pricing <a href="~/PublicUser/Construction"><b>Here</b>.</a> </li>
    </ol>
    
    
</div>

