
@{
    ViewBag.Title = "BookSeat";
    Layout = "~/Views/Shared/PublicUser.cshtml";
    string KBZPay = ViewBag.Username + ".jpg";
}
<br />
<center>
    <div class="contentHeadBox">
        သင္​မွာ ယူထား​ေသာ ခံုအမွတ္​ @ViewBag.SeatList အတြက္​ KBZ Pay ျဖင္​့ ​ေငြ @ViewBag.TotalCost Kyats ​ေပး​ေခ်ရန္​ ​ေအာက္​ပါ QR Code သို႔မဟုတ္​ 09257706564 သို႔ ​၁၀ minute အတြင္​း ​ေငြလႊဲ​ေပးရန္​ လိုပါသည္​။
        <img src="~/Image/KBZPay/@KBZPay" style="max-width:300px;"/><br />
        သင္​မွာ ယူထား​ေသာ ခံုအမွတ္​ အတြက္​ MPT Bill ျဖင္​့ ​ေငြ​  ​ေပး​ေခ်ရန္​ ​PAY ကိုနိွပ္​ပါ။ ၁၀ minute အတြင္​း ​ေငြလႊဲ​ေပးရန္​ လိုပါသည္​။
        <table class="table table-bordered" style="background-color:#F6F9ED;max-width:300px;">
            <tr>
                <td><b>From</b></td>
                <td>@ViewBag.FromPhone</td>
            </tr>
            <tr>
                <td><b>To</b></td>
                <td>@ViewBag.ToPhone</td>
            </tr>
            <tr><td><b>Total Cost</b></td><td>@ViewBag.TotalCost Kyats</td></tr>
            <tr><td>Booked Seat</td><td>@ViewBag.SeatList</td></tr>
            <tr><td colspan="2"><center><a href="tel:@ViewBag.TransferBill"><input type="button" class="btn btn-primary" value="PAY" /></a></center></td></tr>
        </table>
    </div>
</center>

