@using System.Data;
@using EventTicket.App_Code;
@{
    ViewBag.Title = "SetSeatStatus";
    Layout = "~/Views/Shared/EOrg.cshtml";
    string path_and_query = HttpContext.Current.Request.Url.PathAndQuery;
    Session["url"] = path_and_query;
    int EID = ViewBag.EID;
    Base b = new Base();

    EncryptParameter e = new EncryptParameter();
    string E_EID = e.Encrypt(EID.ToString(), "ETicket");

    int Row = b.getIntByQuery("select top 1 * From Seat where EID=" + EID + " order by Row desc", "Row");
    DataTable dt = b.getAllByQuery("select * from Seat where EID=" + EID +" and Status = 'Book'");
    DataTable dtSold = b.getAllByQuery("select * from Seat where EID=" + EID + " and Status = 'Free'");
    DataTable dtSeatOfBookSold = b.getAllByQuery("select * from Seat where Status='Book' or Status='Sold' order by ID desc");
    DataTable dtNamePhone = b.getAllByQuery("select * from  CustomerTicket c inner join Seat s on s.ID = c.SeatID where s.EID= "+EID+" and (s.Status='Book' or s.Status='Sold') order by s.ID desc");
    DataTable dtArriveAbsent = b.getAllByQuery("select * from Seat where EID=" + EID + " and Status = 'Sold'");
    //Get data table of SeatID of Book,Sold
    //Get data table of Name and Phone of particular SeatID
}
<div class="contentHeadBox">
<div class="row">
    <div class="col-md-4">
        <span class="free">&nbsp;&nbsp;</span>&nbsp;Free&nbsp;-&nbsp;@b.getCountByQuery("select * from Seat where EID=" + EID + " and Status='Free'") Seats
        <span class="book">&nbsp;&nbsp;</span>&nbsp;<a href="~/EOrg/SeeBookingList?E_EID=@E_EID">Book</a>&nbsp;-&nbsp;@b.getCountByQuery("select * from Seat where EID=" + EID + " and Status='Book'") Seats
    </div>
    <div class="col-md-4">
        <span class="sold">&nbsp;&nbsp;</span>&nbsp;<a href="~/EOrg/SeeSoldList?E_EID=@E_EID">Sold</a>&nbsp;-&nbsp;@b.getCountByQuery("select * from Seat where EID=" + EID + " and Status='Sold'") Seats
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total&nbsp;-&nbsp;@b.getCountByQuery("select * from Seat where EID=" + EID) Seats</span>
 </div>
    <div class="col-md-4">
        <span class="present">&nbsp;&nbsp;</span>&nbsp;Arrive&nbsp;-&nbsp;@b.getCountByQuery("select * from Seat where EID=" + EID + " and Status='Present'")
        <span class="absent">&nbsp;&nbsp;</span>&nbsp;Can't Come&nbsp;-&nbsp;@b.getCountByQuery("select * from Seat where EID=" + EID + " and Status='Absent'")
        <img src="~/Image/Icon/cost.png" />&nbsp;@b.getIntTotalByQuery("select * from Seat where EID="+EID+" and Status='Sold'","Price") Kyats
    </div>
</div>
    </div>
<br />
@using (Html.BeginForm("InsertSeatStatus", "EOrg"))
{
    <div class="contentHeadBox">
        <div class="row">
            <div class="col-md-3">
                <select name="ID" class="form-control" required>
                    <option value="">Book Seat(မှာခုံ)</option>
                    @{
                        foreach (DataRow row in dt.Rows)
                        {
                            <option value="@Convert.ToInt32(row["ID"])"> @row["Name"].ToString()</option>
                        }
                    }
                </select>
            </div>
           <div class="col-md-3">
               <select name="Status" class="form-control" required>
                   <option value="">Select Status</option>
                   <option value="Free">Free</option>
                   <option value="Sold">Sold</option>
               </select>
            </div>
            <div class="col-md-3"><center><input type="submit" class="btn btn-primary" value="CANCEL/SOLD" /></center></div>
            <div class="col-md-3"><a href="~/EOrg/CheckIn?E_EID=@E_EID"><center><img class="button cta hvr-float-shadow" src="~/Image/Icon/checkin.png" width="50px" /></center></a></div>
        </div>
    </div>
                        }

@using (Html.BeginForm("SellSeatManually", "EOrg"))
{
    <div class="contentHeadBox">
        <div class="row">
            <div class="col-md-2">
                <select name="ID" class="form-control" required>
                    <option value="">Seat(ခုံအမည္)</option>
                    @{
                        foreach (DataRow row in dtSold.Rows)
                        {
                            <option value="@Convert.ToInt32(row["ID"])"> @row["Name"].ToString()</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="Name" placeholder="Name(နာမည္)" required />
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="Phone" placeholder="Phone(ဖုန္း)" required />
            </div>
            <div class="col-md-3"><center><input type="submit" class="btn btn-primary" value="SOLD" /></center></div>
        </div>
    </div>
                        }

<br />
<div class="contentBodyBox">
    <div class="row">
        <div class="col-md-6" style="line-height:30px;">
            @{
                for (int i = 1; i <= Row; i++)
                {
                    //Get All Seat in the Row
                    DataTable Seatdt = b.getAllByQuery("select * from Seat where EID=" + EID + " and Row=" + i);
                    foreach (DataRow row in Seatdt.Rows)
                    {
                        string TicketID = (Convert.ToInt32(row["ID"])).ToString();
                        string Name = row["Name"].ToString();
                        string Status = row["Status"].ToString();

                        <a href="#">
                        <span id="@Name" class="@Status" onclick="ShowNamePhone('@Name','@TicketID')" >@Name</span>
                        </a>

                    }
                        <br /><br />

                }
            }
        </div>
        <div class="col-md-3" style="line-height:30px;">
            <center>
                @{
                    for (int i = 1; i <= Row; i++)
                    {
                        int Price = b.getIntByQuery("select * from Seat where EID=" + EID + " and Row=" + i, "Price");
                        <b><font class="normalText">@b.getStringByQuery("select * from Row where EID="+EID+" and Row="+i,"StartingCharacter") Row<img src="~/Image/Icon/RightArrow.png" /> @Price</font></b> <span>Kyats</span>
                        <br /><br />
                    }
                }
            </center>
        </div>
        <center>
            <div class="col-md-3" style="border:1px solid #CDB79E;padding:10px;max-width:150px;margin:15px">
                <span class="Free">&nbsp;&nbsp;&nbsp;</span>&nbsp;Free&nbsp;-&nbsp;@b.getCountByQuery("select * from Seat where EID=" + EID + " and Status='Free'") Seats<br /><br />
                <span class="Book">&nbsp;&nbsp;&nbsp;</span>&nbsp;Book&nbsp;-&nbsp;@b.getCountByQuery("select * from Seat where EID=" + EID + " and Status='Book'") Seats<br /><br />
                <span class="Sold">&nbsp;&nbsp;&nbsp;</span>&nbsp;Sold&nbsp;-&nbsp;@b.getCountByQuery("select * from Seat where EID=" + EID + " and Status='Sold'") Seats<br /><br />
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total&nbsp;-&nbsp;@b.getCountByQuery("select * from Seat where EID=" + EID) Seats</span>
            </div>
        </center>
    </div>
                
</div>
<style>
    .Free,.Book,.Sold, .Present, .Absent {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  min-width: 30px;
  max-width:50px;
  text-align:center;
  }
            .free, .book, .sold, .present, .absent {
        -webkit-border-radius: 4;
        -moz-border-radius: 4;
        font-family: Georgia;
        color: #ffffff;
        font-size: 10px;
        padding: 2px 2px 2px 2px;
        text-decoration: none;
        min-width: 20px;
        text-align: center;
    }

    .Free, .free{
        background:lightgreen;
    }
    .Book, .book{
        background:lightblue;
    }
    .Sold, .sold{
        background:#0c1b24;
    }
        .Present, .present {
        background: blue;
    }
    .Absent, .absent {
        background: red;
    }
</style>
<p id="seat" style="opacity:0;">
    <!--Save (1) SeatID (2) Name, Phone Here-->
    @{ 
        foreach(DataRow row in dtSeatOfBookSold.Rows)
        {
            string Name = row["Name"].ToString();
            Name = Name + ",";
            @Name 
        }
    }
</p>
<p id="namePhone" style="opacity:0;">
    @{
        Boolean Isfree = b.getBooleanByQuery("select * from Event where ID=" + EID, "IsFree");
        foreach (DataRow row in dtNamePhone.Rows)
        {
            string Name = row["Name"].ToString();
            string Phone = row["Phone"].ToString();
            string Bank = row["Bank"].ToString();
            string Account = row["Account"].ToString();
            string bine = "🎗️" + Name + "$🎗️" + Phone;
            if (Isfree == false)
            {
                bine = bine + "$🎗️" + Bank + "$🎗️" + Account;
            }
            bine = bine + ",";
            @bine
        }
    }
</p>
<p id="phone" style="opacity:0">
    @{
        foreach (DataRow row in dtNamePhone.Rows)
        {
           string phone = row["Phone"].ToString() + ",";
            @phone
        }
    }
</p>
<!--
For Sending Message
(1) Get Event Name
(2) Get EDate
(3) Get Time
-->
<p id="EventName" style="opacity:0;">
    @b.getStringByQuery("select * from Event where ID=" + EID, "Name")
</p>
<p id="EDate" style="opacity:0;">
    @Convert.ToDateTime(b.getDateByQuery("select * from Event where ID=" + EID, "EDate")).ToString("dd/MM/yyyy")
    @b.getStringByQuery("select * from Event where ID=" + EID, "Time")

</p>
<script>
    var Seat = new Array();
    var Phone = new Array();
    var NamePhone=new Array();
    $(document).ready(function () {
        var seat = document.getElementById("seat").innerText;
        Seat = seat.split(",");
        Seat.splice((Seat.length) - 1, 1);

        var phone = document.getElementById("phone").innerText;
        Phone = phone.split(",");
        Phone.splice((Phone.length) - 1, 1);

        var namePhone = document.getElementById("namePhone").innerText;
        NamePhone = namePhone.split(",");
        NamePhone.splice((NamePhone.length) - 1, 1);
    })
    function ShowNamePhone(Name, TicketID) {
        var EventName = document.getElementById("EventName").innerText;
        var EDate = document.getElementById("EDate").innerText;
        EDate = EDate.replace('/', '-');
        EDate = EDate.replace('/', '-');
        var index = Seat.indexOf(Name);
        if (index > -1) {
            var str = NamePhone[index];
            str = str.replace('$', '\r\n');
            str = str.replace('$', '\r\n');
            str = str.replace('$', '\r\n');
            str = "Send SMS?\r\n\r\n" + str;
            var strsend = "";
            strsend = strsend + "\r\n❇️-" + EventName;
            strsend = strsend + "\r\n❇️-" + Name + "[" + TicketID + "]";
            strsend = strsend + "\r\n❇️-" + EDate;
            var r = confirm(str + "\r\n" + strsend);

            var messagesent = "🎟️";
            messagesent = messagesent + EventName;
            messagesent = messagesent + "/" + Name + "[" + TicketID + "]";
            messagesent = messagesent + "/" + EDate;

            if (r == true) {
                var P = Phone[index];
                var M = messagesent;
                var url = "http://192.168.43.1:8080/v1/sms/send/?phone=" + P + "&message=" + M;
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("GET", url, false);
                xmlHttp.send(null);

                if (xmlhttp.readyState != 4 && xmlhttp.status != 200) {
                    var url = "http://127.0.0.1:8080/v1/sms/send/?phone=" + P + "&message=" + M;
                    var nextxmlHttp = new XMLHttpRequest();
                    nextxmlHttp.open("GET", url, false);
                    nextxmlHttp.send(null);
                }
            }
            else {
            }

        }
        return;
    }
</script>


